.newTweetForm {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.newTweetForm label {
  display: flex;
  gap: .75rem;
}

.newTweetForm label img {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
}

.newTweetForm label textarea {
  flex: 1;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: .75rem;
  resize: none; /* evita redicionamento de tamanho */
}

.newTweetForm label textarea:focus {
  outline: none;
}

.newTweetForm label textarea::placeholder {
  color: #5b7083;
}

.newTweetForm button[type="submit"] {
  margin-left: auto;
  padding: .75rem 1.5rem;
  background: var(--twitter-blue);
  color: #fff;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 900;
  border: 0;
}

.newTweetForm button[type="submit"]:hover {
  filter: brightness(.9);
}
