.tweet {
  padding: 1.5rem 1.25rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: .75rem;
  border-bottom: 1px solid #ebeef0;
  text-decoration: none;
}

.tweet img {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
}

.tweet .tweetContent {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tweet .tweetContent .tweetContentHeader {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.tweet .tweetContent .tweetContentHeader span {
  font-size: .875rem;
  color: #89a2b8;
}

.tweet .tweetContent p {
  line-height: 1.25rem;
}

.tweet .tweetContent .tweetContentFooter {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: .75rem;
}

.tweet .tweetContent .tweetContentFooter button {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: transparent;
  border: 0;
  font-size: .875rem;
  color: #89a2b8;
}

.tweet .tweetContent .tweetContentFooter button:hover {
  color: var(--twitter-blue);
}

.tweet .tweetContent .tweetContentFooter button svg {
  width: 1.25rem;
  height: 1.25rem;
}
